NAVER_CLIENT_ID=chicken89qn8cf8bu
NAVER_CLIENT_SECRET=acpS2oaxDXQGDl1WDyBo1FEj3MXClSPuI8D7rASA

# 2025년 12월 KRX 정책 변경으로 pykrx가 데이터 조회 시 로그인을 요구합니다.
# pykrx 라이브러리가 이 값을 내부적으로 직접 읽어 사용합니다.
KRX_ID=chicken55
KRX_PW=messenger1!
